html{
    background-image: url("images/hospital-bg.jpg");
    background-position: center;
    background-size: cover;
}
a{
    text-decoration:none;
}
body{
    background-color:rgba(255,255,255,0.7);
    text-align: center;
    font-family: prompt;
    padding:50px;
    margin: auto;
    margin-top: 15px;
    width:600px;
}
h3 {
    font-family: 'Sofia';
    font-size: 22px;
}
img {
    width:200px;
    border: 2px solid black;
    border-radius:7px;
    margin:30px;
    padding:15px 15px;
}
.image:hover{
    border-color:red;
}
    inputs:hover{
    color:#2b6eb1;
}
button{
    background-color:darkblue;
    color:white;
    padding:10px 25px;
    border-radius: 10px;
    font-size:20px;
}
button:hover{
    cursor:pointer;
}
.small{
    color:gray;
}
div{
    background-color: lightblue;
    border: 3px solid darkblue;
    padding:20px 30px;
    border-radius:25px;
    margin-top:50px;
    font-size:17px;
}
#silly{
    font-variant:small-caps;
    font-size:25px;
    letter-spacing:2px;
}
input{
    padding: 10px;
    margin:10px 0px;
    border-radius:5px;
    color:grey;
}
#account{
    margin-top:30px;
}